@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    margin-top: 20%;
}

.timer {
    font-size: 2vw; 
    font-weight: bold;
}

.message {
    font-size: 2vw; 
    font-weight: bold;
    color: green;
}

#sign {
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    font-size: 1vw;
}

/* Media Queries for additional adjustments */
@media (max-width: 600px) {
    .timer {
        font-size: 7vw; 
    }
    .message {
        font-size: 7vw;
    }
    #sign {
        font-size: 8vw; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .timer {
        font-size: 6vw; 
    }
    .message {
        font-size: 6vw;
    }
    #sign {
        font-size: 7vw; 
    }
}
